<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">

   <context:annotation-config/>
   
   <!-- spring mvc的应用 -->
   <context:component-scan base-package="com.qsh.shopping.web"></context:component-scan>

	<!-- 上传拦截，如最大上传值及最小上传值 -->
		<bean id="multipartResolver"
			class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
			<!-- one of the properties available; the maximum file size in bytes -->
			<property name="maxUploadSize" value="7277180" />
		</bean> 
		
	<!-- 视图-->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/index/" />
		<property name="suffix" value=".jsp" />
	</bean>
   
 <!-- hibernate整合到spring中 -->
 <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />  
    <property name="ignoreResourceNotFound" value="false" />
	<property name="locations">
	<value>classpath:jdbc.properties</value>
	</property>
	</bean>
	
<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="${jdbc.driverClassName}"/>
    <property name="url" value="${jdbc.url}"/>
    <property name="username" value="${jdbc.username}"/>
    <property name="password" value="${jdbc.password}"/>
</bean>
<context:property-placeholder location="classpath:jdbc.properties"/>

  <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource"/>
    <property name="packagesToScan">
      <list>
        <value>com.qsh.shopping.model</value>
      </list>
    </property>
    <property name="hibernateProperties">
      
      <props>
      	<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
      	<prop key="hibernate.show_sql">true</prop>
      	<prop key="hibernate.hbm2ddl.auto">update</prop>
      </props>
    </property>
  </bean>
	
	<bean id="hibernateUtil" class="com.qsh.shopping.util.HibernateUtil"></bean>
	<bean id="userDao" class="com.qsh.shopping.dao.impl.UserDAOImpl"></bean>
	<bean id="categoryDao" class="com.qsh.shopping.dao.impl.CategoryDAOImpl"></bean>
	<bean id="productDao" class="com.qsh.shopping.dao.impl.ProductDAOImpl"></bean>
	<bean id="salesOrderDao" class="com.qsh.shopping.dao.impl.SalesOrderDAOImpl"></bean>
	
	<bean id="userService" class="com.qsh.shopping.service.impl.UserServiceImpl"></bean>
	<bean id="productService" class="com.qsh.shopping.service.impl.ProductServiceImpl"></bean>
	<bean id="categoryService" class="com.qsh.shopping.service.impl.CategoryServiceImpl"></bean>
	<bean id="salesOrderService" class="com.qsh.shopping.service.impl.SalesOrderServiceImpl"></bean>

</beans>