<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd" default-autowire="byName">


	<!-- spring mvc的应用 -->
	<context:component-scan base-package="com.hglq4.shopping.*"></context:component-scan>

	<!-- 上传拦截，如最大上传值及最小上传值 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="maxUploadSize" value="7277180" />
	</bean>

	<!-- 视图 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/index/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- hibernate整合到spring中 -->
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="false" />
		<property name="locations">
			<value>classpath:jdbc.properties</value>
		</property>
	</bean>
	
	<!-- 定义受环境影响易变的变量 -->
<!-- 	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				 标准配置 
				<value>classpath:jdbc.properties</value>
			</list>
		</property>
	</bean> -->

	<!-- Hibernate配置 -->
	<bean id="sessionFactory"
  class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
			</props>
		</property>
<!-- 		<property name="packagesToScan" value="com.hglq4.shopping.model" /> -->
	</bean>

	<!-- 
	<bean id="hibernateUtil" class="com.hglq4.shopping.util.HibernateUtil"></bean>
	<bean id="userDao" class="com.hglq4.shopping.dao.impl.UserDAOImpl"></bean>
	<bean id="categoryDao" class="com.hglq4.shopping.dao.impl.CategoryDAOImpl"></bean>
	<bean id="productDao" class="com.hglq4.shopping.dao.impl.ProductDAOImpl"></bean>
	<bean id="salesOrderDao" class="com.hglq4.shopping.dao.impl.SalesOrderDAOImpl"></bean>

	<bean id="userService" class="com.hglq4.shopping.service.impl.UserServiceImpl"></bean>
	<bean id="productService" class="com.hglq4.shopping.service.impl.ProductServiceImpl"></bean>
	<bean id="categoryService" class="com.hglq4.shopping.service.impl.CategoryServiceImpl"></bean>
	<bean id="salesOrderService" class="com.hglq4.shopping.service.impl.SalesOrderServiceImpl"></bean> 
	-->
</beans>