@charset "utf-8";

/*
 * Copyright 2005-2013 hglq4.net. All rights reserved.
 * Support: http://www.hglq4.net
 * License: http://www.hglq4.net/license
 * 
 * Style - Register
 * Version: 3.0
 */

/* ---------- Register ---------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 

abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, 

strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, 

table, caption, tbody, tfoot, thead, tr, th, td {
	padding: 0px;
	margin: 0px;
	border: 0px;
	outline: 0px;
}

html {
	_width: 100%;
	_height: 100%;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	_filter: expression(document.execCommand("BackgroundImageCache", false, true));
}

body {
	_width: 100%;
	_height: 100%;
	font: 12px tahoma, Arial, Verdana, sans-serif;
	color: #666666;
	background-color: #ffffff;
	_background-image: url(about: blank);
	_background-attachment: fixed;
}

a {
	color: #666666;
	text-decoration: none;
}

a:hover {
	color: #ff6600;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

div.container {
	width: 950px;
	margin: 0px auto;
	*zoom: 1;
}

div.container .span24 {
	_display: inline;
	float: left;
	margin-right: 10px;
	overflow: hidden;
}

div.container .span24 {
	width: 950px;
	margin-right: 0px;
}

div.register .wrap {
	margin-bottom: 10px;
	border: 2px solid #f2f2f2;
}

div.register .main {
	padding-bottom: 20px;
	border: 1px solid #d7d7d7;
}

div.register .title {
	height: 40px;
	line-height: 40px;
	color: #d8d8d8;
	font-family: "Microsoft YaHei";
	border-bottom: 1px dotted #ededed;
}

div.register .title strong {
	padding: 0px 10px;
	color: #3164af;
	font-size: 18px;
	font-weight: normal;
}

div.register table {
	width: 640px;
	float: left;
	margin-top: 20px;
}

div.register th {
	width: 80px;
	padding: 12px;
	font-weight: normal;
	text-align: right;
}

div.register .captcha {
	width: 130px;
	text-transform: uppercase;
	ime-mode: disabled;
}

div.register .captchaImage {
	margin-left: 10px;
	vertical-align: middle;
	cursor: pointer;
}

div.register .submit {
	width: 142px;
	height: 37px;
	line-height: 37px;
	margin-top: 10px;
	color: #ffffff;
	cursor: pointer;
	outline: none;
	blr: expression(this.hideFocus = true);
	background-color: #001;
	 /* background: url(../images/registers.jpg) 0px 0px no-repeat; */
} 

div.register .agreement {
	height: 96px;
	line-height: 24px;
	padding: 0px 4px;
	color: #999999;
	overflow-y: scroll;
	border: 1px solid #e6e6e6;
} 
div.register .login {
	width: 260px;
	float: right;
	padding: 20px;
	border-bottom: 2px solid #f2f2f2;
	border-left: 2px solid #f2f2f2;
	background-color: #fff8db;
}

div.register .login dt {
	line-height: 40px;
	color: #bd5613;
	font-size: 16px;
	font-family: "Microsoft YaHei";
}

div.register .login dd {
	line-height: 28px;
	color: #565656
}

div.register .login dd a {
	color: #bd5613
}